html, body {
  font-family: Roboto, Helvetica Neue, sans-serif;
  overflow: hidden;
  margin: 0;
}

.menu {
  width: 360px;
  display: flex;
  flex-direction: column;
  background-color: #f0fff0;
  padding: 20px;
}
.menu__title {
  font-size: 20px;
  font-weight: bold;
  color: #006400;
  margin-bottom: 10px;
}

.menu__subtitle {
  font-size: 18px;
  color: #008000;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

label {
  font-size: 16px;
  color: #006400;
}